name: "Push secrets from 1Password to Heroku"

permissions:
  id-token: write
  contents: read

on:
  push:
    branches:
      - "heroku-push-secrets-*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  push-heroku-secrets:
    name: "Push Heroku Secret"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install 1Password CLI
        uses: 1password/install-cli-action@f5d505685ccf986ef535da41cd180792c8ac3a36 # v2.0.1

      - name: Load Heroku token
        id: op-heroku-token
        uses: 1password/load-secrets-action@13f58eec611f8e5db52ec16247f58c508398f3e6 # v3.0.0
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          HEROKU_API_KEY: op://pulumi/heroku-pulumi-runner-token/credential

      - uses: pulumi/auth-actions@1c89817aab0c66407723cdef72b05266e7376640 # v1.0.1
        with:
          organization: conda-forge
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:conda-forge-bot

      - uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1
        with:
          command: up
          refresh: true
          stack-name: conda-forge/sync-secrets-heroku/secrets
          work-dir: "./sync-secrets-heroku"
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          HEROKU_API_KEY: ${{ steps.op-heroku-token.outputs.HEROKU_API_KEY }}
